@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://use.typekit.net/qwl5jug.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

@layer base {
  html {
    @apply scroll-smooth;
  }
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: white;
  color: black;
}

h2 {
  font-size: 40px;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pragmatica-text {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ibm-text {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 300;
}

.marquee {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 300;
  font-size: 64px;
  font-style: normal;
}

@media (max-width: 900px) {
  .marquee {
    font-size: 32px;
  }
}

.media-hero {
  font-family: "pragmatica-extended", sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #d1f121;
}

.buttons {
  font-family:
    "neue-haas-grotesk-display",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-weight: 700;
}

.bg-gradient-gray {
  background: -webkit-linear-gradient(
    147.88deg,
    rgba(217, 217, 217, 0.5) -3.07%,
    rgba(217, 217, 217, 0.2) 99.68%
  );
}

.border-gradient-buttons {
  border: 1px solid;
  border-image: linear-gradient(
    97.04deg,
    rgba(33, 33, 33, 0.6) 0%,
    rgba(255, 255, 255, 0) 110.66%
  );
}

.hover-underline-animation {
  position: relative;
  color: #d1f121;
}

.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 97%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #d1f121;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.hover-underlined-filter {
  cursor: pointer;
  margin-right: 0.75rem;
}

.hover-underline-animation-nav {
  position: relative;
  color: #191919;
}

.hover-underline-animation-nav::after {
  content: "";
  position: absolute;
  width: 97%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #191919;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation-nav:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  display: none;
}

.horizontal-list {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slide {
  position: relative;
}
.fit-slide {
  position: relative;
  width: 600px;
}

.show {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fade 1.5s ease-in-out;
}

.show > div {
  width: 100%;
  max-height: 50%;
  aspect-ratio: 16/9;
}

.animate-fade {
  animation: fade 1.5s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.not-show {
  display: none;
}

.page {
  text-align: center;
}
.dot {
  cursor: pointer;
  height: 5px;
  width: 20px;
  margin: 0 2px;
  background-color: #ddd;
  display: inline-flex;
  transition: background-color 0.6s ease;
}

.border-squircle {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}